{% extends "base.html" %}

{% block content %}
  <p><em>Crowdsourcing a list of OSS projects that need support</em></p>
  <p><a href="https://medium.com/@nayafia/how-i-stumbled-upon-the-internet-s-biggest-blind-spot-b9aa23618c58#.5yhlp2u0o">Nadia Eghbal</a> started a spreadsheet asking for examples of free and open source projects that need more support to keep going:</p>
  <p><blockquote>1. List a project below that you think needs support. Support is NOT just money but also contributors. (Generally, if it's valuable and doesn't have sufficient revenue or biz model, add it. I'd like to err on the side of too many projects vs. too few!)</blockquote></p>
  <p>It got scores of responses. <a href="https://github.com/jayfk">Jannis Gebauer</a> started this site as a more structured and less vandalism-prone place to crowdsource this information.</p>
  <p>Please go ahead and click <a href="{% url "projects:create" %}">Add Project</a> to add a project you know about!</p>
{% endblock %}
