{% load projects_tags %}

<h3>{{ project.name }}
  <a href="{% url "projects:detail" project.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-comment"></i> </a>
  {% status_label project.funding_status %}
  <span class="label label-info pull-xs-right label-pill label-language">{% for language in project.languages %}{{ language }}{% if not forloop.last %}/{% endif %}{% endfor %}</span>
</h3>


<div class="row status">
  <div class="col-md-6 col-xs-12 ">
    <h5>Type of funding</h5>
    {% if project.funding_type %}
    <em>{% for type in project.displayable_funding_types %}{{ type }}{% if not forloop.last %}, {% endif %}{% endfor %}</em>
      {% else %}
      <em>no funding</em>
    {% endif %}
  </div>
</div>


<div class="row status">
  <div class="col-md-6 col-xs-12 ">
    <h5>Status</h5>
    <em>{% if project.funding_status_notes %}{{ project.funding_status_notes }}{% else %}not provided{% endif %}</em>
  </div>
  <div class="col-md-6 col-xs-12">
    <h5>Needs</h5>
    <em>{% if project.needs %}{{ project.needs }}{% else %}not provided{% endif %}</em>
  </div>
</div>

<div class="row status">
  <div class="col-md-6 col-xs-12 ">
    <h5>Function</h5>
    <em>{% if project.function %}{{ project.function }}{% else %}not provided{% endif %}</em>
  </div>
  <div class="col-md-6 col-xs-12">
    <h5>Maintainer</h5>
    <em>{% for maintainer in project.maintainers %}{{ maintainer }}{% if not forloop.last %},{% endif %} {% endfor %}</em>
  </div>
</div>

<div class="row status">
  <div class="col-md-6 col-xs-12 ">
    <h5>Added by</h5>
    <em>{% if project.added %}{{ project.added }}{% else %}not provided{% endif %}</em>
  </div>
  <div class="col-md-6 col-xs-12">
    <h5>Website</h5>
    <em><a href="{{ project.website }}">{{ project.website }}</a> </em>
  </div>
</div>
