{% extends "base.html" %}

{% block content %}
  <div class="row search">
    <div class="col-md-6">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Search Project" id="searchProjectInput"/>
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><span class="caret"></span></button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="filter">Funding</label>
                    <select class="form-control" id="fundingSelect">

                      <option value="all" selected>All</option>
                      {% for status in status_choices %}
                      <option value="{{ status.0 }}">{{ status.1 }}</option>
                      {% endfor %}

                    </select>
                  </div>
                </form>
              </div>
            </div>
            <button type="button" class="btn btn-primary"><span class="fa fa-search"
                                                                aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="orderButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span data-order="name-asc"><i class="fa fa-arrow-down"></i> Order By Name</span>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#"><span data-order="name-asc"><i class="fa fa-arrow-down"></i> Name</span></a>
    {% comment %}
    <a class="dropdown-item" href="#"><span data-order="name-desc"><i class="fa fa-arrow-up"></i> Name</span></a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#"><span data-order="funding-asc"><i class="fa fa-arrow-up"></i> Funding</span></a>
    <a class="dropdown-item" href="#"><span data-order="funding-desc"><i class="fa fa-arrow-down"></i> Funding</span></a>
    {% endcomment %}
  </div>
</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 projects">
      {% for project in projects %}
        <div data-name="{{ project.name }}" data-funding="{{ project.funding_status }}" class="project">
          {% include "projects/_project.html" %}
          <hr/>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
